body{
    background: rgba(0, 238, 255, 0.87);
    color: rgb(255, 0, 43);
}
.prinsipal {
    background: rgba(250, 18, 29, 0.966);
}
.segunda{
    background: rgb(255, 0, 0)
    color(srgb rgb(0, 162, 255) rgb(0, 128, 128) blue)
}